Read time series of _daily_ climate indices

In [1]:
import pandas as pd
from paraguayfloodspy.pars  import GetPars

Model Parameters

In [2]:
time_pars = GetPars('time')
syear,eyear = time_pars['syear'], time_pars['eyear']
outfile = "../_data/indices/daily_indices.csv"

The only index we're going to use for now is the MJO.
The data comes from the Australian BOM.

In [3]:
raw_url = 'http://www.bom.gov.au/climate/mjo/graphics/rmm.74toRealtime.txt'
col_names = ['year', 'month', 'day', 'RMM1', 'RMM2', 'phase', 'amplitude', 'source']

Now read in the data

In [4]:
df = pd.read_table(raw_url, delim_whitespace=True,index_col=None, skiprows=2, names=col_names)

Convert the year-month-day structure to a standard time object and select only relevant columns

In [5]:
df['time'] = pd.to_datetime(df[['year', 'month', 'day']])
df.index = df['time']
df = df[['RMM1', 'RMM2', 'phase', 'amplitude']]

Subset only from the start year to end year

In [6]:
df = df['{}'.format(syear):'{}'.format(eyear)]

Preview the data here to make sure it's what we want

In [7]:
df.head()

                RMM1     RMM2  phase  amplitude
time
1979-01-01  0.142507  1.05047      6    1.06009
1979-01-02 -0.204200  1.37361      7    1.38870
1979-01-03 -0.158610  1.53943      7    1.54758
1979-01-04 -0.182450  1.45972      7    1.47108
1979-01-05 -0.320050  1.13680      7    1.18100

Save to file

In [8]:
df.to_csv(outfile)